EMAIL_HOST=smtp.office365.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=support@csig.edu.gn
EMAIL_HOST_PASSWORD=remplacer_par_le_mot_de_passe_application_outlook
DEFAULT_FROM_EMAIL=support@csig.edu.gn
