{% extends "emails/base_email.html" %}

{% block content %}
    <h2>Réinitialisation de votre mot de passe</h2>
    
    <p>Bonjour {{ username }},</p>
    
    <p>Vous avez demandé la réinitialisation de votre mot de passe. Cliquez sur le bouton ci-dessous pour définir un nouveau mot de passe :</p>
    
    <p style="text-align: center;">
        <a href="{{ reset_link }}" class="button">Réinitialiser mon mot de passe</a>
    </p>
    
    <p>Ou copiez et collez ce lien dans votre navigateur :</p>
    <p><code>{{ reset_link }}</code></p>
    
    <p>Ce lien expire dans 1 heure.</p>
    
    <p>Si vous n'avez pas demandé cette réinitialisation, vous pouvez ignorer cet email et votre mot de passe restera inchangé.</p>
{% endblock %}
